<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="25.0.2" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.45" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.45.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2-servicing-27114-05" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="TINAC.MyAccount.POL" version="1.0.1.20951-dev" targetFramework="net461" />
  <package id="TINAC.SeleniumEditionHelper" version="1.0.1.36771" targetFramework="net461" />
</packages>